.block-paragraph {
  cursor: text;

  &[data-block-align='left'] {
    text-align: left;
  }
  &[data-block-align='center'] {
    text-align: center;
  }
  &[data-block-align='right'] {
    text-align: right;
  }
}
