.block-button {
  display: flex;

  &[data-block-align='left'] {
    justify-content: start;
  }
  &[data-block-align='center'] {
    justify-content: center;
  }
  &[data-block-align='right'] {
    justify-content: end;
  }

  a {
    text-decoration: none !important;
  }
}
