.block-video {
  &[data-block-align='left'] .block-video-wrapper {
    justify-self: start;
  }
  &[data-block-align='center'] .block-video-wrapper {
    justify-self: center;
  }
  &[data-block-align='right'] .block-video-wrapper {
    justify-self: end;
  }

  &[data-block-size='full'] {
    .block-video-wrapper,
    .block-video-wrapper video {
      width: 100%;
    }
  }

  &[data-block-aspect='square'] .block-video-wrapper video {
    aspect-ratio: 1 / 1;
  }
  &[data-block-aspect='video'] .block-video-wrapper video {
    aspect-ratio: var(--aspect-video);
  }
  &[data-block-aspect='2-3'] .block-video-wrapper video {
    aspect-ratio: 2 / 3;
  }

  .block-video-wrapper {
    position: relative;

    video {
      height: auto;
      max-width: 100%;
    }

    .block-video-wrapper-buttons {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      column-gap: 10px;
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
      -webkit-transition: opacity 0.15s ease-in-out;

      button {
        cursor: pointer;
        background-color: var(--secondary);
      }
    }
  }

  &:hover {
    .block-video-wrapper-buttons {
      opacity: 1;
    }
  }
}
