.block-list {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  list-style: outside;
  padding-left: 20px;

  &[data-block-align='left'] li {
    text-align: left;
  }
  &[data-block-align='center'] li {
    text-align: center;
  }
  &[data-block-align='right'] li {
    text-align: right;
  }

  &[data-block-list-style='disc'] {
    list-style-type: disc;
  }
  &[data-block-list-style='number'] {
    list-style-type: decimal;
  }
  &[data-block-list-style='none'] {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    cursor: text;

    &:empty:after {
      opacity: 50%;
      content: attr(data-block-placeholder);
    }
  }
}
