.block-quote {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 40px;
  position: relative;

  &[data-block-align='left'] {
    text-align: left;
  }
  &[data-block-align='center'] {
    text-align: center;
  }
  &[data-block-align='right'] {
    text-align: right;
  }

  &::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--color-shark);
    margin-left: 15px;
  }

  p,
  cite {
    font-style: normal;
    cursor: text;
  }
}
